<% if @cocktail.photos.any? %>
  <hr>
  <% @cocktail.photos.each do |photo| %>
    <%= cl_image_tag photo.path, height: 400, width: 300, crop: :fit %>
  <% end %>
  <hr>
<% end %>
<% if !@doses.blank? %>
 <h2>Doses in <%= @cocktail.name %>:</h2>
 <ul>
  <% for item in @doses %>
    <% tmping = Ingredient.find(item.ingredient_id)%>
    <li><%= item.description %>(id:<%= tmping.id %> <%= tmping.name %>) | <%= link_to "Edit this dose", edit_dose_path(item) %> | <%= link_to "Delete this dose", dose_path(item), method: :delete %></li>
  <% end %>
<% else %>
  <li>No doses listed for this cocktail</li>
<% end %>
</ul>
<%= link_to "Add new dose", new_cocktail_dose_path(@cocktail) %>
<hr>
<%= link_to "Remove this cocktail", cocktail_path(@cocktail), method: :delete %>
